
  <form class='form' enctype="multipart/form-data">
    <input type="text" class="titulo" name="titulo" placeholder="titulo" [(ngModel)]="titulo"> <br>
    <div class="contenidoform">
      
      <div>
        <textarea name="texto" class="" placeholder="introduce tu descripcion bb" [(ngModel)]="texto" cols="30" rows="12"></textarea><br>
      </div>

      <div class="col-rigth">
        <input type="number" class="edad" name="edad" placeholder="edad" [(ngModel)]="edad"> <br>
        <input type="number" class="telefono" name="telefono" placeholder="telefono" [(ngModel)]="telefono"> <br>
        <input type="email" class="email" name="email" placeholder="introduce tu mail" [(ngModel)]="mail"> <br>
        <select #provi name="provi" class="provi" (change)="selectProvincia(provi.value)">
          <option value="0" selected disabled>Elegir ciudad</option>
          <option *ngFor='let pr of provincias' value="{{pr.id_c}}">{{pr.nombre}}</option>
        </select>
        </div>
    
    </div>
    <input type="file" (change)="archivoSeleccionado($event)" multiple>
    <label>  <input  class='wsp' #habi type="checkbox" [(ngModel)]="habilitar" name='habi' value="1"> <img src="../../../assets/img/wsp.png"> habilitado </label><br>

    <button class="btn" type="button" (click)="subir()">Enviar</button>
  </form>

 
