

header {
   
    width: 100vw;
    padding-right: 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 5%;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 15vw;
    padding-left: 10vw;
    background: #262627a6;
    
}




header img {
    margin-left: 15px;
    height: 40px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

} 

.dropdown-content {
    display: none;
    position: absolute;
    background: #262627a6;

    right: 0;
    bottom: 0;
    min-width: 150px;
    text-align: center;
    z-index:1 ;
    transform: translateY(113%);
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown{
    position: relative;
}


.dropdown-content ul {
    flex-direction: colum;
    padding: .5rem;
    right: 15vw;
    
    
}

a   {
    text-align: center;
    text-decoration: none;
    color: #cecdca;
    flex-grow: 1;
    font-weight: bold;
    padding: 0 18px;
}

li {
    cursor: pointer;
    color: floralwhite;
}

li:hover{
    text-decoration: none;
    color: #ffffff;
} 

ul {
    display: flex;
    list-style:none;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

/* .dropdown{
    position: relative;
} */

.menu {
    display: flex;
    flex-direction: column;
    
}

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
@media screen and (max-width: 800px) {
        
        header{
            flex-direction: column;
            width: 100vw;
            
        }
    
        header nav{
            width: 100vw;
        }    
        

        header img{
            height: 60px;
            margin: 5px;
            
        }

    }   

    @media screen and (max-width: 450px) {
        
        header {
            min-width: 350px;
         
        }
        
        a{
            padding: 10px;
        }

        .logo{
            align-items: center;
        }
    }   

    







