<nav class="nav-content">
  <div class="left">
    <img class='img-logo' src="../../../assets/img/navQares.png" [routerLink]="['/home']" />
  </div> 
  <div class="rigth">
    <ul class="ul-perfil" *ngIf="login; else nologin ">
      <li class='nombre' [routerLink]="['/perfil']">{{nombre}}</li>
      <li  class="mrg" (click)="logout()">Salir</li>  
    </ul>
    <ng-template #nologin>
      <ul class="ul-perfil">
      <li><a class="" [routerLink]="['/login']">Iniciar sesión</a></li>
      <li><a class="" [routerLink]="['/registro']">Registrate</a></li>
      </ul>
    </ng-template>
  </div> 
</nav>  
