<div class="overlay">
    
    <div class="popup"> 
        
        <div class="formulario">
    
            <div class="cont-form">
                
                <h1 class="p-b">Log in</h1>
                    
                <div class="formulario">
                        <form [formGroup] = "form" (ngSubmit)="login()">
                        
                            <input type="text" class="form-control" name="mail" formControlName="mail" placeholder="mail" autocomplete="off" autofocus>
                            <span class="text-danger" *ngIf="form.get('mail').status != 'VALID' && form.get('mail').touched;">Usuario invalido</span>

                            <input type="password" class="form-control" name="password" formControlName="password" placeholder="foo@example.com" autocomplete="off" autofocus>
                            <span class="text-danger" *ngIf="form.get('password').status != 'VALID' && form.get('password').touched;">Password invalido</span>
                            
                            <button type="submit" [disabled]="form.invalid" class="btn btn-block">Ingresar</button>
                        
                        </form>
                </div>

            </div>

        </div>      
    </div>
   
</div>