.content{
  width: 100%;
  margin: 0 auto;
}

.log-in{
  DISPLAY: flex;
  FLEX-DIRECTION: column;
  ALIGN-ITEMS: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}


input, select, textarea {
  margin-bottom: 10px;
  width: 70%;
  height: 40px;
  -webkit-box-shadow: inset  2px -2px 8px -4px rgba(163,161,163,1);
  -moz-box-shadow: inset  2px -2px 8px -4px rgba(163,161,163,1);
  box-shadow: inset  2px -2px 8px -4px rgba(163,161,163,1);
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;
}

.btn{
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  margin-top: 25px;   
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}


input{
  padding: 15px;
}

.form-group {
  width: 70%;
}

.formulario {
  max-width: 500px;
  width: 100%;
} 

.p-b {
  padding-bottom: 50px;
  color: floralwhite;
  font-size: 40px;
  padding-top: 15px;
}
