*{
    box-sizing: border-box;
}

body {
    background-image: url('images/background_Qares.jpg');
    min-width: 100%;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
   /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
   background-size: cover;
}

ul li{
    list-style: none;
    padding: 15px;
    color: #ded9d7;
}

a{
    text-decoration: none;
    color:#ded9d7;
}

a:hover{
    color: blanchedalmond;
}


html, body {
    min-height: 100vh;
}

/*
 otra forma de dar estilos es 
opendialog():void{
    const dialogRef= this.dialog.open(ModalComponent, {
      
        panelClass: 'custom-dialog-container'
    }); 

y en styless.css coloco los estilos
.custom-dialog-container .mat-dialog-container {
   display: contents;
}

    */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
